Repository pyiron/pyiron_atomistics, pull requests merged in 2021-04, with the labels that each got.

#158 Add missing return
  pyiron_atomistics/atomistics/structure/factory.py
Labels: bug

#161 Document energy_pot_per_atom
  pyiron_atomistics/lammps/control.py
Labels: documentation

#165 Grain thickness
  pyiron_atomistics/_tests.py
  pyiron_atomistics/atomistics/structure/factories/aimsgb.py
  tests/atomistics/structure/factories/__init__.py
  tests/atomistics/structure/factories/test_aimsgb.py
Labels: enhancement

#175 Bump pyrion_base to 0.2.10
  .ci_support/environment.yml
  setup.py
Labels: dependencies

#168 Touch up some docstrings
  pyiron_atomistics/atomistics/job/atomistic.py
  pyiron_atomistics/atomistics/master/parallel.py
  pyiron_atomistics/atomistics/master/serial.py
  pyiron_atomistics/atomistics/structure/atoms.py
Labels: documentation

#171 Fix deprecation warning from python
  pyiron_atomistics/atomistics/structure/sparse_list.py
Labels: enhancement

#167 Extract get_structure to abstract Mixin
  pyiron_atomistics/atomistics/job/atomistic.py
  pyiron_atomistics/atomistics/job/sqs.py
  pyiron_atomistics/atomistics/master/murnaghan.py
  pyiron_atomistics/atomistics/master/parallel.py
  pyiron_atomistics/atomistics/master/serial.py
  pyiron_atomistics/atomistics/structure/has_structure.py
  pyiron_atomistics/dft/job/generic.py
  pyiron_atomistics/dft/master/murnaghan_dft.py
  pyiron_atomistics/gpaw/pyiron_ase.py
  pyiron_atomistics/lammps/interactive.py
  pyiron_atomistics/sphinx/interactive.py
  pyiron_atomistics/testing/randomatomistic.py
  pyiron_atomistics/vasp/interactive.py
  tests/atomistics/master/test_murnaghan.py
Labels: enhancement, integration
