Repository pyiron/pyiron_atomistics, pull requests merged in 2021-03, with the labels that each got.

#74 automatic triclinic when potentially triclinic
  pyiron_atomistics/lammps/base.py
  pyiron_atomistics/lammps/control.py
  pyiron_atomistics/lammps/structure.py
Labels: bug

#117 User defined tags are added to `__dir__`
  pyiron_atomistics/atomistics/structure/atoms.py
  tests/atomistics/structure/test_atoms.py
Labels: enhancement

#119 Add workflow for integration notebooks
  .ci_support/build_integration_notebooks.sh
  .github/workflows/integration.yml
  notebooks/integration/InteractiveOutputTest.ipynb
Labels: enhancement

#46 Get structure fast
  pyiron_atomistics/atomistics/job/interactive.py
Labels: stale

#135 Correctly wrap species potential info in Groups
  pyiron_atomistics/sphinx/base.py
Labels: bug

#136 Run integration notebooks only on tag
  .github/workflows/integration.yml
Labels: integration
