Repository pyiron/pyiron_atomistics, pull requests merged in 2021-05, with the labels that each got.

#190 Make get_structure faster: Electric Boogaloo or avoiding database checks
  pyiron_atomistics/atomistics/job/atomistic.py
  pyiron_atomistics/atomistics/job/interactive.py
Labels: enhancement, integration

#205 Steinhardt interface
  pyiron_atomistics/atomistics/structure/analyse.py
  pyiron_atomistics/atomistics/structure/pyscal.py
  tests/atomistics/structure/test_pyscal.py
Labels: documentation, enhancement

#207 Docstring fix in HasStructure
  pyiron_atomistics/atomistics/structure/has_structure.py
Labels: documentation

#210 Update to pyiron_base 0.2.13
  .ci_support/environment.yml
  setup.py
Labels: dependencies

#209 Add optional method to allow non-integer frames
  pyiron_atomistics/atomistics/structure/has_structure.py
Labels: enhancement
