Repository pyiron/pyiron_atomistics, pull requests merged in 2021-06, with the labels that each got.

#206 Move create pipeline
  pyiron_atomistics/atomistics/job/atomistic.py
Labels: bug

#222 Fix to stop convergence checks for interactive jobs!
  pyiron_atomistics/vasp/interactive.py
Labels: bug

#217 Lammps units
  pyiron_atomistics/lammps/base.py
  pyiron_atomistics/lammps/control.py
  pyiron_atomistics/lammps/units.py
  tests/lammps/test_base.py
  tests/lammps/test_control.py
Labels: bug

#201 Use new copy hook
  pyiron_atomistics/atomistics/job/atomistic.py
Labels: enhancement

#213 Phonopy options
  pyiron_atomistics/atomistics/master/phonopy.py
  tests/atomistics/master/test_phonopy.py
Labels: enhancement, stale

#258 Raise error on non-zero pressure
  pyiron_atomistics/vasp/base.py
Labels: enhancement

#249 Allow overriding of cluster method in get_layers()
  pyiron_atomistics/atomistics/structure/analyse.py
  tests/atomistics/structure/test_analyse.py
Labels: enhancement

#235 interactive_prepare
  pyiron_atomistics/vasp/interactive.py
Labels: integration
