Repository pyiron/pyiron_atomistics, pull requests merged in 2021-07, with the labels that each got.

#270 Add HasStructure to Trajectory
  pyiron_atomistics/atomistics/job/atomistic.py
Labels: enhancement

#271 Extending the units class
  pyiron_atomistics/lammps/units.py
Labels: enhancement

#272 Estimate width
  pyiron_atomistics/atomistics/structure/atoms.py
  pyiron_atomistics/atomistics/structure/neighbors.py
Labels: bug

#263 Only force skew when tensions are applied
  pyiron_atomistics/lammps/control.py
Labels: bug, integration

#262 Save all VCSGC parameters in generic input
  pyiron_atomistics/lammps/base.py
  tests/lammps/test_base.py
Labels: enhancement

#251 Neighbour analysis for the entire trajectory
  pyiron_atomistics/atomistics/job/atomistic.py
  pyiron_atomistics/atomistics/structure/neighbors.py
  tests/lammps/test_base.py
Labels: enhancement

#241 Create new Atoms in get_structure if size changes
  pyiron_atomistics/atomistics/job/atomistic.py
  pyiron_atomistics/atomistics/structure/atoms.py
  tests/atomistics/job/test_atomistic.py
  tests/static/lammps_test_files/export.csv
  tests/static/lammps_test_files/get_structure_test.tar.gz
Labels: enhancement

#224 Make Atoms() faster via caches
  pyiron_atomistics/atomistics/structure/atoms.py
  pyiron_atomistics/atomistics/structure/periodic_table.py
  tests/atomistics/structure/test_atoms.py
Labels: enhancement

#291 Add error message if Murnaghan.plot is called on unfinished jobs
  pyiron_atomistics/atomistics/master/murnaghan.py
Labels: enhancement

#299 Outcar bands
  pyiron_atomistics/vasp/outcar.py
  tests/static/vasp_test_files/outcar_samples/OUTCAR_10
  tests/vasp/test_outcar.py
Labels: bug
