Repository pyiron/pyiron_atomistics, pull requests merged in 2021-12, with the labels that each got.

#445 Make NeighborTrajectory simpler
  pyiron_atomistics/atomistics/structure/neighbors.py
Labels: enhancement

#456 Update to pyiron_base-0.4.3
  .ci_support/environment.yml
  setup.py
Labels: dependencies

#453 Do not polute resource_path
  pyiron_atomistics/lammps/potential.py
Labels: bug

#450 Try Python 3.10
  .github/workflows/backwards.yml
  .github/workflows/benchmarks.yml
  .github/workflows/coverage.yml
  .github/workflows/deploy.yml
  .github/workflows/docs.yml
  .github/workflows/notebooks.yml
  .github/workflows/pypicheck.yml
  .github/workflows/unittests.yml
Labels: integration

#454 Add proper smearing for VASP
  pyiron_atomistics/vasp/base.py
  tests/vasp/test_vasp.py
Labels: enhancement

#259 More structures
  pyiron_atomistics/atomistics/structure/factories/compound.py
  pyiron_atomistics/atomistics/structure/factory.py
  tests/atomistics/structure/factories/test_compound.py
Labels: enhancement

#461 Use numpy.all in NeighborsTrajectory
  pyiron_atomistics/atomistics/structure/neighbors.py
Labels: bug

#448 Write POSCAR in direct coordinate when selective dynamics is on
  pyiron_atomistics/vasp/structure.py
Labels: enhancement
