Repository pyiron/pyiron_atomistics, pull requests merged in 2021-11, with the labels that each got.

#438 Merge environment files instead of conda env update
  .ci_support/environment-docs.yml
  .github/workflows/backwards.yml
  .github/workflows/benchmarks.yml
  .github/workflows/coverage.yml
  .github/workflows/docs.yml
  .github/workflows/integration.yml
  .github/workflows/notebooks.yml
  .github/workflows/unittests.yml
Labels: integration

#387 Use FlattenedStorage in NeighborsTrajectory
  pyiron_atomistics/atomistics/job/atomistic.py
  pyiron_atomistics/atomistics/structure/neighbors.py
  tests/atomistics/structure/test_neighbors_trajectory.py
Labels: enhancement, integration

#444 Store shells in Neighbors Trajectory
  pyiron_atomistics/atomistics/structure/neighbors.py
Labels: enhancement

#424 Use state instead of Settings
  pyiron_atomistics/atomistics/generic/object_type.py
  pyiron_atomistics/atomistics/job/interactive.py
  pyiron_atomistics/atomistics/job/potentials.py
  pyiron_atomistics/atomistics/job/sqs.py
  pyiron_atomistics/atomistics/master/phonopy.py
  pyiron_atomistics/atomistics/structure/_visualize.py
  pyiron_atomistics/atomistics/structure/analyse.py
  pyiron_atomistics/atomistics/structure/atoms.py
  pyiron_atomistics/atomistics/structure/factories/aimsgb.py
  pyiron_atomistics/atomistics/structure/factories/ase.py
  pyiron_atomistics/atomistics/structure/factory.py
  pyiron_atomistics/atomistics/structure/neighbors.py
  pyiron_atomistics/atomistics/structure/periodic_table.py
  pyiron_atomistics/atomistics/structure/phonopy.py
  pyiron_atomistics/atomistics/structure/pyscal.py
  pyiron_atomistics/atomistics/structure/symmetry.py
  pyiron_atomistics/gpaw/gpaw.py
  pyiron_atomistics/interactive/activation_relaxation_technique.py
  pyiron_atomistics/interactive/sxextoptint.py
  pyiron_atomistics/lammps/base.py
  pyiron_atomistics/lammps/potential.py
  pyiron_atomistics/project.py
  pyiron_atomistics/sphinx/base.py
  pyiron_atomistics/sphinx/potential.py
  pyiron_atomistics/sphinx/volumetric_data.py
  pyiron_atomistics/vasp/base.py
  pyiron_atomistics/vasp/potential.py
  pyiron_atomistics/vasp/vasprun.py
  pyiron_atomistics/vasp/volumetric_data.py
Labels: integration
