Repository pyiron/pyiron_atomistics, pull requests merged in 2021-09, with the labels that each got.

#339 Don't specify force tolerance if only optimizing cell
  pyiron_atomistics/vasp/base.py
Labels: enhancement

#260 Add Wrapper for Atomsk Structure Creation
  pyiron_atomistics/atomistics/structure/factories/atomsk.py
  pyiron_atomistics/atomistics/structure/factory.py
  tests/atomistics/structure/factories/test_atomsk.py
Labels: enhancement

#338 Consistent atoms order
  pyiron_atomistics/atomistics/structure/atoms.py
  tests/static/vasp_test_files/poscar_samples/POSCAR_diff_species
  tests/vasp/test_structure.py
Labels: enhancement

#366 Water interactive fix
  notebooks/integration/interactive_units.ipynb
  pyiron_atomistics/lammps/interactive.py
Labels: integration

#345 Remove six depedency
  .ci_support/environment.yml
  pyiron_atomistics/atomistics/structure/atom.py
  pyiron_atomistics/atomistics/structure/atoms.py
  setup.py
Labels: enhancement, dependencies, integration

#352 Update integration.yml
  .github/workflows/integration.yml
  notebooks/integration/interactive_units.ipynb
Labels: integration
