Repository pyiron/pyiron_atomistics, pull requests merged in 2022-05, with the labels that each got.

#594 A function to plot free energy vs volume curves for different temperatures
  pyiron_atomistics/atomistics/master/quasi.py
Labels: format_black

#610 Fix murnaghan status tests
  tests/atomistics/master/test_murnaghan.py
  tests/atomistics/master/test_murnaghan_master_modal.py
  tests/atomistics/master/test_murnaghan_non_modal.py
Labels: bug

#611 Fix type in Murnaghan test
  tests/atomistics/master/test_murnaghan_master_modal.py
Labels: bug

#566 Allow to transform Trajectories
  pyiron_atomistics/atomistics/job/atomistic.py
  tests/atomistics/job/test_atomistic.py
  tests/atomistics/job/test_transform_trajectory.py
Labels: enhancement, format_black

#567 Allow to fix some axes in Murnaghan
  pyiron_atomistics/atomistics/master/murnaghan.py
Labels: enhancement, integration, format_black

#603 Calphy implementation in pyiron
  pyiron_atomistics/__init__.py
  pyiron_atomistics/calphy/__init__.py
  pyiron_atomistics/calphy/job.py
  tests/calphy/__init__.py
  tests/calphy/test_base.py
  tests/static/calphy_test_files/export.csv
  tests/static/calphy_test_files/lammps/2001--Mishin-Y--Cu-1--LAMMPS--ipr1/Cu01.eam.alloy
  tests/static/calphy_test_files/lammps/potentials/potentials_lammps.csv
  tests/static/calphy_test_files/test_files.tar.gz
Labels: enhancement, format_black

#638 Add a flag to normalize E/V curves by atoms + docstrings
  pyiron_atomistics/atomistics/master/murnaghan.py
Labels: documentation, enhancement, format_black
