Repository pyiron/pyiron_atomistics, pull requests merged in 2022-11, with the labels that each got.

#848 StructureStorage: do not add extra elements
  pyiron_atomistics/atomistics/structure/structurestorage.py
Labels: bug, enhancement

#853 Adding `animate` method to Trajectory
  pyiron_atomistics/atomistics/job/atomistic.py
  pyiron_atomistics/atomistics/structure/has_structure.py
Labels: enhancement, integration, format_black

#832 Properly parse energy states and occupations
  pyiron_atomistics/sphinx/base.py
Labels: bug, integration, format_black

#812 Bugfixes in StructurePlot and error handling for Atoms.get_symmetry
  pyiron_atomistics/atomistics/structure/structurestorage.py
  pyiron_atomistics/atomistics/structure/symmetry.py
  tests/atomistics/structure/test_symmetry.py
Labels: bug, format_black

#860 Simplify get_elements
  pyiron_atomistics/table/funct.py
Labels: bug

#816 Allow to configure strains used in Murnaghan
  pyiron_atomistics/atomistics/master/murnaghan.py
Labels: enhancement, integration, format_black
