Repository pyiron/pyiron_atomistics, pull requests merged in 2022-08, with the labels that each got.

#701 Add StructureContainer.add_structure
  pyiron_atomistics/atomistics/job/structurecontainer.py
Labels: enhancement, format_black

#650 Deprecate structure creation methods directly on Project
  pyiron_atomistics/project.py
  tests/vasp/test_vasp.py
Labels: format_black

#715 Remove pointless try/except and pytables dep
  .ci_support/environment-docs.yml
  .ci_support/environment.yml
  pyiron_atomistics/vasp/potential.py
  setup.py
Labels: dependencies

#714 Remove unused deps
  .ci_support/environment.yml
  setup.py
  tests/test_project.py
Labels: dependencies

#710 Move some of the structure plotting functions from contrib
  CHANGELOG.md
  pyiron_atomistics/atomistics/job/structurecontainer.py
  pyiron_atomistics/atomistics/structure/structurestorage.py
Labels: enhancement, format_black

#717 Add Moruzzi Paper to Murnaghan class
  pyiron_atomistics/atomistics/master/murnaghan.py
Labels: format_black

#707 Vasp: Add functions to parse the resource usage
  pyiron_atomistics/vasp/outcar.py
  tests/vasp/test_outcar.py
Labels: enhancement, format_black

#557 VASP Outcar: Get energy components
  pyiron_atomistics/vasp/outcar.py
  tests/vasp/test_outcar.py
Labels: enhancement, format_black

#721 dont set initial temperature to 0 for NVE
  pyiron_atomistics/lammps/control.py
Labels: integration

#727 Save selective_dynamics tag in StructureStorage
  pyiron_atomistics/atomistics/structure/structurestorage.py
  tests/atomistics/structure/test_structurestorage.py
Labels: enhancement, format_black

#705 Lammps parse dump pandas
  pyiron_atomistics/lammps/base.py
  pyiron_atomistics/lammps/units.py
  tests/lammps/test_base.py
Labels: integration, format_black

#731 Raise error when incompatible structures are set on interactive jobs
  pyiron_atomistics/lammps/interactive.py
Labels: format_black
