Repository pyiron/pyiron_atomistics, pull requests merged in 2022-03, with the labels that each got.

#554 fix vasp potential
  pyiron_atomistics/atomistics/structure/periodic_table.py
  pyiron_atomistics/vasp/potential.py
  tests/static/vasp/potentials/potpaw_PBE/Al_GW/POTCAR
  tests/vasp/test_vasp.py
Labels: format_black

#542 Quasi newton
  pyiron_atomistics/__init__.py
  pyiron_atomistics/interactive/quasi_newton.py
  tests/interactive/test_quasi_newton.py
Labels: format_black

#558 dont write kpoints file
  pyiron_atomistics/vasp/base.py
  tests/vasp/test_vasp.py
Labels: enhancement, help wanted, format_black

#568 Add cache to StructureStorage.get_elements
  pyiron_atomistics/atomistics/structure/structurestorage.py
  tests/atomistics/structure/test_structurestorage.py
Labels: enhancement, integration, format_black

#561 Modify where number of bond types is chosen from
  pyiron_atomistics/lammps/structure.py
  tests/lammps/test_base.py
Labels: format_black

#539 replace triu by triu_indices
  pyiron_atomistics/atomistics/master/elastic.py
  tests/atomistics/master/test_elastic.py
Labels: format_black

#576 Symmetrize vectors
  pyiron_atomistics/atomistics/structure/symmetry.py
  tests/atomistics/structure/test_symmetry.py
Labels: format_black
