Repository pyiron/pyiron_atomistics, pull requests merged in 2022-04, with the labels that each got.

#579 To set the convergence precision properly in sphinx jobs
  pyiron_atomistics/sphinx/base.py
  pyiron_atomistics/sphinx/interactive.py
  tests/sphinx/test_base.py
Labels: format_black

#569 Fix sqsgenerator version bump
  .ci_support/environment-notebooks.yml
  pyiron_atomistics/atomistics/job/sqs.py
Labels: format_black

#552 Handling empty indices
  pyiron_atomistics/atomistics/job/atomistic.py
Labels: bug, format_black

#584 Murnnaghan Convergence check
  pyiron_atomistics/atomistics/master/murnaghan.py
  tests/atomistics/master/test_murnaghan.py
  tests/atomistics/master/test_murnaghan_master_modal.py
  tests/atomistics/master/test_murnaghan_non_modal.py
Labels: bug, enhancement, format_black

#571 Cosmetics for Phonopy.plot_band_structure()
  pyiron_atomistics/atomistics/master/phonopy.py
Labels: enhancement, integration, format_black

#592 Atom style charge
  pyiron_atomistics/lammps/base.py
  pyiron_atomistics/lammps/structure.py
  tests/lammps/test_base.py
Labels: bug, format_black

#582 Reduce number of imports in toolkit
  pyiron_atomistics/toolkit.py
Labels: stale
