Repository pyiron/pyiron_atomistics, pull requests merged in 2022-09, with the labels that each got.

#736 Revert "Raise error when incompatible structures are set on interactive jobs"
  pyiron_atomistics/lammps/interactive.py
Labels: integration

#737 Reintroduce Raise error when incompatible structures are set on interactive jobs
  pyiron_atomistics/lammps/interactive.py
Labels: integration

#740 Short cut ChemicalElement comparison if same object
  pyiron_atomistics/atomistics/structure/periodic_table.py
Labels: enhancement, integration, format_black

#739 Atomsk: Add whitespace around orient if present
  pyiron_atomistics/atomistics/structure/factories/atomsk.py
Labels: bug, format_black

#742 Avoid excessive memory allocation when repeating SparseList
  pyiron_atomistics/atomistics/structure/sparse_list.py
Labels: enhancement, integration, performance

#749 StructurePlots: Correctly label crystal systems
  pyiron_atomistics/atomistics/structure/structurestorage.py
Labels: bug

#722 Fix Input HDF serialization in ScipyOptimizer
  pyiron_atomistics/interactive/scipy_minimizer.py
Labels: bug, format_black

#741 Never let format_black fail
  .github/workflows/format_black.yml
Labels: format_black

#757 Add a new structure factory for the MaterialsProject
  .ci_support/environment.yml
  pyiron_atomistics/atomistics/structure/factories/materialsproject.py
  pyiron_atomistics/atomistics/structure/factory.py
  setup.py
Labels: enhancement

#725 Add support for ASE molecule
  pyiron_atomistics/atomistics/structure/factories/ase.py
Labels: format_black

#765 Fix off-by-one in space_group plot
  pyiron_atomistics/atomistics/structure/structurestorage.py
Labels: bug

#625 LammpsInteractive: Catch error a structure is set that is not supported by potential
  pyiron_atomistics/lammps/interactive.py
Labels: bug, format_black

#762 Redirect deprecation warning
  pyiron_atomistics/atomistics/structure/atoms.py
Labels: format_black

#766 Find potential by structure
  pyiron_atomistics/lammps/__init__.py
  pyiron_atomistics/lammps/base.py
  pyiron_atomistics/lammps/potential.py
Labels: format_black

#776 StructureStorage: Fix None check when self._neigh is not defined
  pyiron_atomistics/atomistics/structure/structurestorage.py
Labels: bug, format_black

#790 ScipyMinimizer input: Return a default group_name
  pyiron_atomistics/interactive/scipy_minimizer.py
Labels: integration

#775 Be ASE compatible wrt spins
  pyiron_atomistics/atomistics/structure/atoms.py
  pyiron_atomistics/atomistics/structure/structurestorage.py
  pyiron_atomistics/gpaw/gpaw.py
  pyiron_atomistics/gpaw/pyiron_ase.py
  pyiron_atomistics/sphinx/base.py
  pyiron_atomistics/sphinx/interactive.py
  tests/atomistics/structure/test_atoms.py
  tests/atomistics/structure/test_structurestorage.py
  tests/sphinx/test_base.py
Labels: enhancement, integration, format_black

#636 Allow to fix some axes in Murnaghan
  pyiron_atomistics/atomistics/master/murnaghan.py
Labels: integration, format_black
