Repository pyiron/pyiron_atomistics, pull requests merged in 2022-01, with the labels that each got.

#498 Add cell_only to Vasp.calc_minimize
  pyiron_atomistics/vasp/base.py
Labels: enhancement

#497 Save VASP stresses as matrix
  pyiron_atomistics/vasp/outcar.py
  tests/vasp/test_outcar.py
Labels: bug

#482 Consistent indices for StructureStorage.get_structures
  pyiron_atomistics/atomistics/structure/structurestorage.py
Labels: bug, stale

#400 High index surfaces
  pyiron_atomistics/atomistics/structure/factory.py
  tests/atomistics/structure/test_high_index_surface.py
Labels: enhancement, good first issue

#505 Spx refactor
  notebooks/tests_sphinx_sphinx_check_all.ipynb
  pyiron_atomistics/dft/waves/electronic.py
  pyiron_atomistics/sphinx/base.py
  pyiron_atomistics/sphinx/interactive.py
  tests/sphinx/test_base.py
Labels: format_black

#513 Selected animation
  pyiron_atomistics/atomistics/job/atomistic.py
  tests/atomistics/job/test_atomistic.py
Labels: enhancement, format_black

#517 rerun black
  pyiron_atomistics/atomistics/master/murnaghan.py
  pyiron_atomistics/atomistics/master/phonopy.py
  pyiron_atomistics/atomistics/structure/atoms.py
  pyiron_atomistics/atomistics/structure/neighbors.py
  pyiron_atomistics/atomistics/structure/sparse_list.py
  pyiron_atomistics/atomistics/volumetric/generic.py
  pyiron_atomistics/dft/job/generic.py
  pyiron_atomistics/interactive/sxextoptint.py
  pyiron_atomistics/lammps/interactive.py
  pyiron_atomistics/lammps/structure.py
  pyiron_atomistics/sphinx/base.py
  pyiron_atomistics/testing/randomatomistic.py
  pyiron_atomistics/thermodynamics/hessian.py
Labels: format_black
