Repository pyiron/pyiron_atomistics, pull requests merged in 2022-10, with the labels that each got.

#792 Selective dynamics in some directions of a VASP POSCAR in ASE Atoms is not supported (pymatgen Structure -> Atoms converter) pymatgen_to_pyiron(structure)
  pyiron_atomistics/atomistics/structure/atoms.py
  tests/atomistics/structure/test_atoms.py
Labels: bug, integration, format_black

#809 sphinx warnings whenever the server queue is allocated are removed
  pyiron_atomistics/sphinx/base.py
Labels: format_black

#791 Trajectory: ensure remapped_indices is always an array
  pyiron_atomistics/atomistics/job/atomistic.py
Labels: bug

#814 Enable ScipyMinizer without gradients
  pyiron_atomistics/interactive/scipy_minimizer.py
Labels: enhancement, integration

#815 Add warning that Sphinx.calc_minimize does not support pressure
  pyiron_atomistics/sphinx/base.py
Labels: documentation

#846 Add methods to convert MP results to StructureStorage/list
  pyiron_atomistics/atomistics/structure/factories/materialsproject.py
Labels: enhancement

#847 Check for negative occupation
  pyiron_atomistics/sphinx/interactive.py
Labels: bug
