Repository pyiron/pyiron_atomistics, pull requests merged in 2022-02, with the labels that each got.

#447 Some docstrings for phono
  pyiron_atomistics/atomistics/master/phonopy.py
Labels: documentation, format_black

#531 Improve Murngahan
  pyiron_atomistics/atomistics/master/murnaghan.py
  tests/atomistics/master/test_murnaghan.py
Labels: format_black

#534 Check SPHInX output class
  pyiron_atomistics/sphinx/base.py
Labels: integration, format_black

#541 Adjust n_print to be at most max_iter in calc_minimize
  pyiron_atomistics/lammps/control.py
Labels: enhancement

#546 Store VASP volumes as numpy arrays
  pyiron_atomistics/vasp/base.py
  tests/vasp/test_vasp_import.py
Labels: bug, format_black

#526 Support cube files without atoms
  pyiron_atomistics/atomistics/volumetric/generic.py
Labels: bug

#547 Save more input variables in calc_md
  pyiron_atomistics/atomistics/job/atomistic.py
Labels: enhancement, format_black

#422 Raising errors when restart files don't exist
  notebooks/tests_sphinx_sphinx_check_all.ipynb
  pyiron_atomistics/atomistics/job/atomistic.py
  pyiron_atomistics/lammps/base.py
  pyiron_atomistics/sphinx/base.py
  pyiron_atomistics/vasp/base.py
  tests/vasp/test_vasp.py
Labels: format_black
