Repository pyiron/pyiron_atomistics, pull requests merged in 2023-03, with the labels that each got.

#971 Lammps move output parser to io module
  pyiron_atomistics/lammps/base.py
  pyiron_atomistics/lammps/interactive.py
  pyiron_atomistics/lammps/output.py
  tests/lammps/test_base.py
Labels: format_black

#969 Rename :method: to :meth:
  pyiron_atomistics/atomistics/master/phonopy.py
  pyiron_atomistics/atomistics/master/serial.py
  pyiron_atomistics/atomistics/structure/factories/atomsk.py
  pyiron_atomistics/atomistics/structure/structurestorage.py
Labels: documentation

#968 Move output variable to public in SPHInX
  pyiron_atomistics/sphinx/base.py
  pyiron_atomistics/sphinx/interactive.py
  tests/sphinx/test_base.py
Labels: format_black

#985 replace `_output_parser` by `output`
  pyiron_atomistics/sphinx/interactive.py
Labels: integration

#984 Use `set_array` instead of setting `structure.arrays` directly & change position reading in `from_hdf` when scaled positions are to be read
  pyiron_atomistics/atomistics/structure/atoms.py
  tests/lammps/test_base.py
Labels: integration, format_black
