Repository pyiron/pyiron_atomistics, pull requests merged in 2023-07, with the labels that each got.

#1104 Separate `get_structure_group` to fix SxExtOpt bug when `selective_dynamics` is on
  pyiron_atomistics/interactive/sxextoptint.py
  pyiron_atomistics/sphinx/base.py
Labels: bug, integration, format_black

#1106 Allow some Murnaghan children to fail
  pyiron_atomistics/atomistics/master/murnaghan.py
Labels: enhancement, integration, format_black

#1107 Lammps: Add method to save per atom kinetic energy
  pyiron_atomistics/lammps/control.py
  pyiron_atomistics/lammps/units.py
Labels: enhancement, integration, format_black

#981 Remove sparse list
  pyiron_atomistics/atomistics/job/atomistic.py
  pyiron_atomistics/atomistics/master/phonopy.py
  pyiron_atomistics/atomistics/structure/atom.py
  pyiron_atomistics/atomistics/structure/atoms.py
  pyiron_atomistics/atomistics/structure/sparse_list.py
  pyiron_atomistics/atomistics/structure/structurestorage.py
  pyiron_atomistics/gpaw/pyiron_ase.py
  pyiron_atomistics/interactive/sxextoptint.py
  pyiron_atomistics/lammps/base.py
  pyiron_atomistics/project.py
  pyiron_atomistics/sphinx/base.py
  pyiron_atomistics/thermodynamics/interfacemethod.py
  pyiron_atomistics/vasp/base.py
  tests/atomistics/structure/test_atoms.py
  tests/atomistics/structure/test_sparse_list.py
  tests/atomistics/structure/test_structurestorage.py
  tests/lammps/test_base.py
  tests/vasp/test_structure.py
Labels: integration, format_black

#1112 Handle KeyError in __getattr__
  pyiron_atomistics/atomistics/structure/atom.py
Labels: bug, integration

#1118 Use the conversion from pymatgen to ase defined in structure toolkit
  pyiron_atomistics/atomistics/structure/atoms.py
  tests/atomistics/structure/test_atoms.py
Labels: format_black

#1120 Supply default, in case of loading old murnaghans
  pyiron_atomistics/atomistics/master/murnaghan.py
Labels: bug
