Repository pyiron/pyiron_atomistics, pull requests merged in 2023-08, with the labels that each got.

#1125 Small fixes to Vasp.calc_minimize
  pyiron_atomistics/vasp/base.py
  pyiron_atomistics/vasp/interactive.py
  tests/vasp/test_vasp.py
Labels: bug, enhancement, integration, format_black

#1126 [minor] Refactor potential setter
  pyiron_atomistics/lammps/base.py
Labels: integration

#1130 Refactor the lammps collect_output() parser
  pyiron_atomistics/lammps/base.py
  pyiron_atomistics/lammps/output.py
  tests/lammps/test_base.py
Labels: format_black

#1141 Update base 0.6.4
  .ci_support/environment.yml
  setup.py
  tests/atomic/job/test_atomistic.py
Labels: integration

#1143 Refactor lammps output parser
  pyiron_atomistics/lammps/base.py
  pyiron_atomistics/lammps/output.py
Labels: integration, format_black
