Repository pyiron/pyiron_atomistics, pull requests merged in 2023-12, with the labels that each got.

#1237 Add gpaw as dependency for integration tests
  .ci_support/environment-notebooks.yml
Labels: integration

#1234 specify mininmum dimension for output values
  pyiron_atomistics/sphinx/base.py
  pyiron_atomistics/sphinx/output_parser.py
Labels: format_black

#1230 make a file for sphinx parsers
  tests/sphinx/test_parsers.py
Labels: enhancement

#1261 Fix lammps parser
  pyiron_atomistics/lammps/output.py
Labels: bug

#1249 Add AtomisticsMaintenance
  pyiron_atomistics/project.py
  pyiron_atomistics/vasp/base.py
  pyiron_atomistics/vasp/vasprun.py
  tests/table/test_datamining.py
Labels: bug, format_black

#1266 Purge SerialMaster
  pyiron_atomistics/__init__.py
  pyiron_atomistics/atomistics/job/atomistic.py
  pyiron_atomistics/atomistics/master/convergence_volume.py
  pyiron_atomistics/atomistics/master/serial.py
  pyiron_atomistics/atomistics/master/structure.py
  pyiron_atomistics/dft/master/convergence_encut_serial.py
  pyiron_atomistics/project.py
  pyiron_atomistics/testing/randomatomistic.py
  tests/atomic/master/test_murnaghan.py
  tests/testing/test_serialMaster.py
  tests/testing/test_serialMaster_non_modal.py
Labels: integration

#1265 Upgrade pyiron_base to 0.6.14
  .ci_support/environment.yml
  pyproject.toml
Labels: integration

#1267 Do not use .project_hdf5
  pyiron_atomistics/project.py
Labels: bug, integration
