Repository pyiron/pyiron_atomistics, pull requests merged in 2023-01, with the labels that each got.

#854 Add functional style methods to HasStructure
  pyiron_atomistics/atomistics/job/atomistic.py
  pyiron_atomistics/atomistics/structure/has_structure.py
  pyiron_atomistics/atomistics/structure/structurestorage.py
  tests/atomistics/job/test_transform_trajectory.py
Labels: stale, integration, format_black

#934 Fix ase selective dynamics read bug
  pyiron_atomistics/atomistics/structure/factory.py
Labels: format_black

#829 Sx run addon
  pyiron_atomistics/sphinx/base.py
  pyiron_atomistics/sphinx/util.py
  tests/sphinx/test_base.py
  tests/sphinx/test_interactive.py
  tests/sphinx/test_util.py
  tests/static/sphinx/bin/sxcheckinput
  tests/static/sphinx/sxversions.py
Labels: stale

#943 Removes implicit assumption of sorting from potcar gen
  pyiron_atomistics/vasp/potential.py
Labels: format_black
