Repository pyiron/pyiron_atomistics, pull requests merged in 2023-06, with the labels that each got.

#1055 Fix for spins
  pyiron_atomistics/atomistics/structure/atoms.py
Labels: format_black

#1068 Move structure.calc setting into the initializer
  pyiron_atomistics/gpaw/pyiron_ase.py
  test_integration/test_gpaw.py
Labels: integration

#1086 Fix SPHInX integration tests
  test_integration/tests_sphinx_sphinx_check_all.py
Labels: integration

#1088 Allow to plot not converged Murnaghans
  pyiron_atomistics/atomistics/master/murnaghan.py
Labels: enhancement, integration

#1062 StructureStorage: Add a few more plots and add options
  pyiron_atomistics/atomistics/structure/structurestorage.py
Labels: enhancement, format_black
