Repository pyiron/pyiron_atomistics, pull requests merged in 2023-05, with the labels that each got.

#1046 update structuretoolkit to 0.0.3
  .ci_support/environment.yml
  pyiron_atomistics/atomistics/job/sqs.py
  pyiron_atomistics/atomistics/structure/_visualize.py
  pyiron_atomistics/atomistics/structure/analyse.py
  pyiron_atomistics/atomistics/structure/atoms.py
  pyiron_atomistics/atomistics/structure/factories/aimsgb.py
  pyiron_atomistics/atomistics/structure/factories/compound.py
  pyiron_atomistics/atomistics/structure/factory.py
  pyiron_atomistics/atomistics/structure/phonopy.py
  pyiron_atomistics/atomistics/structure/pyscal.py
  pyiron_atomistics/atomistics/structure/structurestorage.py
  setup.py
  tests/atomistics/structure/test_symmetry.py
Labels: format_black

#1047 clean up job class dict
  pyiron_atomistics/__init__.py
Labels: format_black

#982 Not store useless extra species info in `Atoms`
  pyiron_atomistics/atomistics/structure/atoms.py
Labels: enhancement, integration, code_smell

#1018 VASP: Parse the number of steps correctly from OUTCAR
  pyiron_atomistics/vasp/outcar.py
  tests/vasp/test_outcar.py
Labels: bug, integration, format_black

#1008 Make potential algebraic
  pyiron_atomistics/lammps/base.py
Labels: enhancement, format_black
