Repository pyiron/pyiron_atomistics, pull requests merged in 2023-11, with the labels that each got.

#1200 Spare a poor phd student from the horrible numpy ragged array problem
  pyiron_atomistics/vasp/base.py
Labels: bug

#1212 Update interactive.py
  pyiron_atomistics/lammps/interactive.py
Labels: enhancement

#1160 Move standalone parser to separate submodule
  pyiron_atomistics/vasp/base.py
  pyiron_atomistics/vasp/interactive.py
  pyiron_atomistics/vasp/metadyn.py
  pyiron_atomistics/vasp/parser/__init__.py
  pyiron_atomistics/vasp/parser/oszicar.py
  pyiron_atomistics/vasp/parser/outcar.py
  pyiron_atomistics/vasp/parser/report.py
  tests/vasp/test_oszicar.py
  tests/vasp/test_outcar.py
Labels: stale

#973 lammps interactive: move functionality to separate class
  .ci_support/environment.yml
  pyiron_atomistics/lammps/interactive.py
  setup.py
  tests/lammps/test_interactive.py
Labels: format_black

#1222 Spx log parser
  pyiron_atomistics/sphinx/base.py
  pyiron_atomistics/sphinx/output_parser.py
Labels: enhancement, integration, format_black

#1223 SPHInX: Separate other output parsers
  pyiron_atomistics/sphinx/base.py
  pyiron_atomistics/sphinx/output_parser.py
Labels: enhancement, integration, format_black

#1196 Correctly scale output from phonopy jobs in QuasiHarmonic
  pyiron_atomistics/atomistics/master/quasi.py
Labels: bug

#1225 [minor] Set `cwd` to `None` by default
  pyiron_atomistics/sphinx/base.py
  pyiron_atomistics/sphinx/output_parser.py
Labels: integration, format_black
