Repository pyiron/pyiron_atomistics, pull requests merged in 2024-07, with the labels that each got.

#1474 Delay NGLview import
  pyiron_atomistics/atomistics/structure/atoms.py
Labels: format_black

#1472 Add lammps_function() - use LAMMPS job in a functional approach
  .ci_support/environment-docs.yml
  .ci_support/environment.yml
  binder/environment.yml
  pyiron_atomistics/lammps/lammps.py
  pyproject.toml
Labels: format_black

#1486 Clean up the SxExtOpt because it's gonna be part of a publication
  pyiron_atomistics/interactive/sxextoptint.py
Labels: patch

#1500 Sphinx: Fix check_setup() for band structure calculation
  pyiron_atomistics/sphinx/base.py
Labels: integration, patch

#1514 Always set retain_charge_density/electrostatic_potential
  pyiron_atomistics/vasp/base.py
Labels: bug
