Repository pyiron/pyiron_atomistics, pull requests merged in 2024-02, with the labels that each got.

#1289 Lammps: Only try to use restart file when present
  pyiron_atomistics/lammps/base.py
Labels: bug, integration, format_black

#1304 A workaround to fix reloading potentials with LAMMPS
  .ci_support/environment-old.yml
  .ci_support/environment.yml
  pyiron_atomistics/lammps/base.py
  pyiron_atomistics/lammps/potential.py
  pyproject.toml
Labels: format_black

#1303 Ignore eddrmm warning by default
  pyiron_atomistics/vasp/base.py
Labels: enhancement, integration, format_black

#1308 Import mendeleev only when needed
  pyiron_atomistics/atomistics/structure/periodic_table.py
  test_benchmarks/atomistics/structure/test_atoms.py
  tests/atomic/structure/test_periodic_table.py
Labels: format_black

#1305 corrected misspelling
  pyiron_atomistics/project.py
Labels: format_black

#1319 Deprecate workdir path getter in favour of job.files
  .ci_support/environment-old.yml
  .ci_support/environment.yml
  pyiron_atomistics/atomistics/job/atomistic.py
  pyiron_atomistics/lammps/base.py
  pyiron_atomistics/sphinx/base.py
  pyiron_atomistics/vasp/base.py
  pyproject.toml
  tests/vasp/test_vasp.py
Labels: format_black

#1093 Add pyxtal wrapper
  .ci_support/environment-old.yml
  .ci_support/environment.yml
  pyiron_atomistics/atomistics/structure/factory.py
  pyiron_atomistics/atomistics/structure/pyxtal.py
  tests/atomic/structure/test_pyxtal.py
Labels: enhancement, dependencies, format_black

#1326 Bump base
  .ci_support/environment.yml
  pyproject.toml
Labels: integration

#1334 update calphy interface
  pyiron_atomistics/calphy/job.py
  tests/calphy/test_base.py
Labels: format_black

#1337 rebase: Update the temperature reading in outcar.py
  pyiron_atomistics/vasp/parser/outcar.py
Labels: bug, format_black

#1339 add fix for output not being populated automatically
  pyiron_atomistics/calphy/job.py
Labels: format_black

#1342 Fix typo
  pyiron_atomistics/project.py
Labels: bug
