Repository pyiron/pyiron_atomistics, pull requests merged in 2024-06, with the labels that each got.

#1443 Remove setting calculation mode in `ElasticMatrixJob`
  pyiron_atomistics/atomistics/master/elasticmatrix.py
Labels: integration

#1444 [patch] remove initial magnetic moments
  test_integration/tests_sphinx_sphinx_check_all.py
Labels: bug, integration

#1452 VASP: Encapsulate the output parser in the parse_vasp_output() function
  pyiron_atomistics/vasp/base.py
  pyiron_atomistics/vasp/interactive.py
  pyiron_atomistics/vasp/output.py
Labels: format_black

#1454 Vasp submit to executor
  pyiron_atomistics/vasp/base.py
Labels: format_black

#1451 Lammps submit to executor
  pyiron_atomistics/lammps/base.py
  pyiron_atomistics/lammps/output.py
Labels: format_black

#1418 Additional inputs to phonopy
  pyiron_atomistics/atomistics/master/phonopy.py
Labels: format_black

#1457 remove calc_static from DFT
  pyiron_atomistics/dft/job/generic.py
  pyiron_atomistics/sphinx/base.py
  pyiron_atomistics/sphinx/interactive.py
  pyiron_atomistics/vasp/base.py
  tests/sphinx/test_base.py
Labels: bug, integration, format_black, code_smell

#1446 LAMMPS: Implement calculate() function
  .ci_support/environment-old.yml
  pyiron_atomistics/lammps/base.py
  pyiron_atomistics/lammps/interactive.py
  pyiron_atomistics/lammps/output.py
  tests/lammps/test_base.py
Labels: format_black

#1459 Change index error in electronic structure to warning
  pyiron_atomistics/sphinx/base.py
Labels: minor

#1465 parse ediel_sol from OUTCAR
  pyiron_atomistics/vasp/output.py
  pyiron_atomistics/vasp/parser/outcar.py
  tests/vasp/test_outcar.py
Labels: format_black
