Repository pyiron/pyiron_atomistics, pull requests merged in 2024-04, with the labels that each got.

#1355 Atoms: Implement from_dict()
  pyiron_atomistics/atomistics/structure/atoms.py
  pyiron_atomistics/atomistics/structure/periodic_table.py
Labels: format_black

#1372 [Critical] Ensure atom order in Sphinx
  pyiron_atomistics/sphinx/base.py
Labels: bug, format_black

#1375 Add ElasticMatrixJob
  pyiron_atomistics/__init__.py
  pyiron_atomistics/atomistics/master/elasticmatrix.py
Labels: format_black

#1379 changed the generic cells property
  pyiron_atomistics/sphinx/base.py
Labels: format_black

#1396 Sphinx fix order
  pyiron_atomistics/sphinx/base.py
  tests/sphinx/test_base.py
Labels: bug, integration
