Repository pyiron/pyiron_atomistics, pull requests merged in 2024-01, with the labels that each got.

#1277 [minor] Simplify SPHInX input
  pyiron_atomistics/sphinx/base.py
  pyiron_atomistics/sphinx/interactive.py
  tests/sphinx/test_base.py
Labels: enhancement, integration

#1299 [minor] Separate update functions in Quasi Newton
  pyiron_atomistics/interactive/quasi_newton.py
Labels: format_black

#1224 Parser for waves.sxb files from SPHInX
  pyiron_atomistics/sphinx/output_parser.py
  tests/sphinx/test_parsers.py
  tests/static/sphinx/sphinx_test_waves/waves.sxb
Labels: enhancement, format_black
