Repository pyiron/pyiron_atomistics, pull requests merged in 2024-03, with the labels that each got.

#1341 Lammps: Fix final structure not being stored
  pyiron_atomistics/lammps/base.py
Labels: format_black

#1352 Import MPRester also in by_id
  pyiron_atomistics/atomistics/structure/factories/materialsproject.py
Labels: bug

#1354 Fix typo in pyxtal wrapper
  pyiron_atomistics/atomistics/structure/factory.py
Labels: bug

#1364 Fix inspect_empirical_potentials typo again
  pyiron_atomistics/project.py
Labels: bug

#1361 Lammps refactor species ordering
  pyiron_atomistics/lammps/structure.py
  tests/lammps/test_base.py
Labels: help wanted

#1366 Add "region" to control.py
  pyiron_atomistics/lammps/control.py
Labels: enhancement, format_black
